.background {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 100vh;
  z-index: -1;
  opacity: 0.95;

  img {
    position: absolute;
    bottom: 0;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center bottom;
  }
}

.hero {
  display: flex;
  position: relative;
  padding: calc(10 * var(--pico-spacing)) 0 calc(7 * var(--pico-spacing));
  margin-bottom: calc(2 * var(--pico-spacing));

  h1 {
    display: block;
    margin-top: calc(0.25 * var(--pico-spacing));
    margin-bottom: 0;
    span {
      letter-spacing: -0.05rem;
      font-size: min(8.5vw, calc(1.25 * var(--pico-font-size)));
    }
  }

  span {
    display: block;
    margin-right: 0.3rem;
    letter-spacing: -0.02rem;
    font-size: min(5vw, calc(1.25 * var(--pico-font-size)));
  }

  p {
    margin-bottom: 0;
  }
}

.card {
  padding: var(--pico-block-spacing-vertical)
    var(--pico-block-spacing-horizontal);
  border-radius: calc(4 * var(--pico-border-radius));
  box-shadow: var(--pico-card-box-shadow);
  background: color-mix(in srgb, var(--pico-background-color) 70%, transparent);
  backdrop-filter: blur(6px);
  max-width: 25rem;
}

@media screen and (min-width: 1024px) {
  .card {
    max-width: unset;
  }

  .hero span {
    display: inline-block;
    font-size: calc(1.25 * var(--pico-font-size));
  }

  .hero h1 span {
    display: inline-block;
    font-size: calc(1.325 * var(--pico-font-size));
  }
}
