@use "../../../../node_modules/open-color/open-color" as c;

.icon {
  display: inline-flex;
  margin: 0;
  padding: 0;
  width: calc(1.4 * var(--icon-size));
  height: calc(1.4 * var(--icon-size));
  padding: calc(0.2 * var(--icon-size));
  border-radius: calc(1.4 * var(--icon-size) / 2);
  box-sizing: border-box;
  border: none;

  svg {
    width: var(--icon-size);
    height: var(--icon-size);
  }
}

.filled {
  // Base Pico is okay for this!
}

.outlined {
  background: transparent;
  color: var(--pico-primary);
  margin-left: -2px;
  margin-right: -2px;

  &:hover,
  &:focus {
    color: var(--pico-primary-hover);
  }
}
