@use "sass:color";
@use "../../node_modules/open-color/open-color" as c;

/* Default light theme */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  // Primary color
  --pico-text-selection-color: #{color.adjust(c.$oc-teal-6, $alpha: -0.7)};
  --pico-primary: #{c.$oc-teal-7};
  --pico-primary-background: #{c.$oc-teal-7};
  --pico-primary-underline: #{color.adjust(c.$oc-teal-6, $alpha: -0.5)};
  --pico-primary-hover: #{c.$oc-teal-9};
  --pico-primary-hover-background: #{c.$oc-teal-6};
  --pico-primary-focus: #{color.adjust(c.$oc-teal-6, $alpha: -0.5)};
  --pico-primary-inverse: #fff;

  // Grays
  --pico-color: #{c.$oc-gray-7};
  --oc-neutral-background: #{c.$oc-gray-1};
  --oc-neutral-background-hover: #{c.$oc-gray-3};

  // Others
  --pico-modal-overlay-background-color: #{color.adjust(
      c.$oc-teal-9,
      $saturation: -55,
      $alpha: -0.5
    )};
}

/* Dark mode theme */
[data-theme="dark"] {
  // Primary color
  --pico-text-selection-color: #{color.adjust(c.$oc-teal-6, $alpha: -0.7)};
  --pico-primary: #{c.$oc-teal-6};
  --pico-primary-background: #{c.$oc-teal-7};
  --pico-primary-underline: #{color.adjust(c.$oc-teal-8, $alpha: -0.5)};
  --pico-primary-hover: #{c.$oc-teal-4};
  --pico-primary-hover-background: #{c.$oc-teal-6};
  --pico-primary-focus: #{color.adjust(c.$oc-teal-9, $alpha: -0.3)};
  --pico-primary-inverse: #fff;

  // Grays
  --pico-color: #{c.$oc-gray-4};
  --oc-neutral-background: #{c.$oc-gray-9};
  --oc-neutral-background-hover: #{c.$oc-gray-8};

  // Others
  --pico-modal-overlay-background-color: #{color.adjust(
      c.$oc-teal-9,
      $saturation: -55,
      $alpha: -0.5
    )};
  --pico-muted-color: #{c.$oc-gray-6};
}
